#name {
  color: black;
  font-size: 60;
  text-align: center;
  position: relative;
  text-align: right;
}

#belowpic {
  font-size: 18;
  text-align: left;
  font-weight: bold;
  justify-content: flex-start;
}

#aboutme {
  font-size: 24;
  text-align: right;
  justify-content: flex-start;
}

.sidebar {
  float: left;
  width: 65%;
  height: 300px;
  padding-right: 20px;
  border-right-style: solid;
  border-right-width: thick;
}

.info {
  float: right;
  padding-left: 10px;
  width: 25%;
  padding-left: 10px;
  height: 300px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

#container {
  height: 10em;
  position: relative;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

body {
  background-image: url('../imgs/bg.jpg');
}