#nav div {
  display: center;
  justify-content: center;
  margin-left: 60%;
}

#nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: color|transparent|initial|inherit; */
  display: inline-block;
  font-size: 18px;
  /* #333; */
}

#nav li {
  float: left;
  display: inline;
  color: white;
  font-size: 18px;
}

#nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  color: white;
  text-decoration: none;
  font-size: 18px;
}

#nav li a:hover {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 10px;
  font-size: 20px;
}

.active {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 10px;
  text-decoration-color: white;
  text-decoration: underline;
}